<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Programs</title>
<script src="https://kit.fontawesome.com/af766576f4.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/resources/css/general.css}">
<link rel="stylesheet" th:href="@{/resources/css/activity.css}">
<link rel="stylesheet" th:href="@{/resources/css/nav.css}">
<script>
        function confirmFeedbackSubmit() {
            return confirm("Are you sure you want to submit this feedback?");
        }
    </script>
</head>
<body>
	<div>
		<div th:replace="fragments/navbar :: navbar"></div>
	</div>
	<div class="content">
		<div class="header">
			<div class="back">
				<a onclick="history.back()"><i class="fa-solid fa-angle-left">Back</i></a>
				<h2>Add Feedback</h2>
			</div>
		</div>
		<div class="form-container">
			<form th:action="@{/activity/addFeedback}" method="post"
				onsubmit="return confirmFeedbackSubmit()">
				<div class="form-group">
					<label for="feedbackText">Your Feedback:</label>
					<textarea id="feedbackText" name="feedbackText" rows="4" required></textarea>
				</div>
				<div class="form-group">
					<label for="rating">Rating:</label> <select id="rating"
						name="rating" required>
						<option value="">Select Rating</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
				<input type="hidden" name="activityId" th:value="${activity.id}" />
				<input type="hidden" name="date" th:value="${currentDate}" /> 
				<button type="submit">Submit Feedback</button>
			</form>
		</div>
	</div>
</body>
</html>
